.full-section-scrolling #footerwrap {
    position: static;
    transform: none;
	padding: 0;
}
.full-section-scrolling #footerwrap .fp-tableCell {
	display: flex;
	align-items: center;
    align-content: center;
}
